.footer-background {
    background: var(--black-sads);
    margin-top: 100px;
    color: var(--white);
    padding: 100px 0 0;

    .footer-text {
        display: flex;
        justify-content: space-between;

        .first-panel {
            width: 30%;

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: var(--dark-blue);
            }

            p {
                padding: 20px 0;
                color: var(--dark-white-sads);
                font-family: 'Open Sans', sans-serif;
                line-height: 26px;
            }

            ul {
                display: flex;

                li {
                    margin-bottom: 25px;

                    a {
                        background: var(--dark-blue);
                        height: 40px;
                        width: 40px;
                        border-radius: 5px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 15px;
                        }
                    }
                }
            }

            .footer-input {
                width: 260px;
                position: relative;

                input {
                    background: none;
                    outline: none;
                    width: 100%;
                    border: 1px solid var(--white);
                    padding: 15px;
                    border-radius: 5px;

                    &::placeholder {
                        color: var(--dark-white-sads);
                        font-size: 14px;
                    }
                }

                .send-icon {
                    position: absolute;
                    right: 5px;
                    cursor: pointer;
                    top: 50%;
                    transform: translate(0, -50%);
                    height: 38px;
                    width: 38px;
                    background: var(--dark-blue);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 20px;
                    }

                }
            }
        }

        .second-panel {
            width: 13%;

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: var(--dark-blue);
                padding-bottom: 5px;

            }

            ul {
                li {
                    padding-top: 15px;

                    a {
                        color: var(--dark-white-sads);
                        line-height: 26px;
                        font-family: 'Open Sans', sans-serif;
                        position: relative;

                        &::after {
                            position: absolute;
                            left: -15px;
                            top: 10px;
                            height: 1px;
                            width: 10px;
                            background: var(--gray);
                            content: "";
                        }
                    }
                }
            }
        }

        .third-panel {
            width: 12%;

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: var(--dark-blue);
                padding-bottom: 5px;
            }

            ul {
                li {
                    padding-top: 15px;

                    a {
                        color: var(--dark-white-sads);
                        line-height: 26px;
                        font-family: 'Open Sans', sans-serif;
                        position: relative;

                        &::after {
                            position: absolute;
                            left: -15px;
                            top: 10px;
                            height: 1px;
                            width: 10px;
                            background: var(--gray);
                            content: "";
                        }
                    }
                }
            }
        }

        .fourth-panel {
            width: 30%;

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: var(--dark-blue);
            }

            ul {
                li {
                    font-family: 'Open Sans', sans-serif;
                    color: var(--dark-white-sads);

                    h4 {
                        padding: 20px 0 10px;
                        color: var(--white);
                    }
                }
            }
        }
    }

    .copy-right {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
        padding: 30px 0;
        a{
            color: var(--dark-blue);
        }
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: var(--gray);
content: "";

        }
    }
}